.container {
    margin-top: 2% ;
}
.list-group-item.active {
    background-color: rgb(134, 206, 211);
    border-color: rgb(134, 206, 211);
}
.titleParagraphe {
    color: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0 ;
    margin : 10px 0 0 0 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.gradient-underline {
    padding-bottom: 10px;
    position: relative;
    text-decoration: none;
}

.gradient-underline::after {
    background: #f00;
    background: linear-gradient(to right, transparent 0%, rgb(134, 206, 211) 50%, transparent 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.NextTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin : 20px 0 20px 0;
    padding: 10px;
    color : white;
    background-color: rgb(134, 206, 211);
    border-radius: 1%;
}

li {
    list-style-type: none ;
}
.btn-grad {
    justify-content: center;
    font-size: 13px;
}
