
#membersStories   {
    min-height: 10vh;
    background-color: #b8e3e9;
    padding-top: 50px;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);}
#membersStories .container {
   
    overflow: hidden;
    
}
#membersStories .heading {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
#membersStories div.col-md-12.col-lg-4 {
    overflow: hidden;
   margin-top: 20px;
   object-fit: cover;
  padding: 3px;
}

#membersStories div.col-md-12  div:nth-child(3){
visibility: hidden;
}


#membersStories div.col-md-12:hover  div:nth-child(3){
    color:  #ffffff;
    transform: translateY(-200px);
    visibility: visible;
    transition: 0.5s;
    font-weight: 500;
    z-index: 2;
}

#membersStories div.col-md-12.hovering  span {
    display: block;
    position: absolute;
    width: 1000px;
    height:100vh;
    background: black;
    opacity: 0.5;
    border-radius: 10px;
   position: absolute;
   transition: 1s;
   z-index: 0;
   transform: translateY(-250px);
 
   
   
   
}
#membersStories div.col-md-12.notHovering  span {
    display: none;
    width: 0;
    height:0;
    background: black;
   position: absolute;
   transition: 1s;
   transform: translateY(250px);
   }


   
   @media only screen and (max-width: 768px) {
    #membersStories div.col-md-12.hovering  span {
        transform: translateY(0);
    }

}






