

#about_us div {
    margin-top: 10px;
    color: white;
    
       
}
#about_us div.container-fluid {
    
   background-image: url(/Assets/AcceuilBackgroundImages/WebHomeEdit.jpg);
    
}   

 #about_us img.img-student {
    width: 500px;
    height: 500px;
   
    border-radius: 20px;
    margin-bottom: 30px;;
}

#abouy_us div.container  {
    align-items: center;
}

section>div.container {
    margin-top: 50px;
    min-height: 50vh;
}
#collaborator-icon {
    margin-top: 30px;
}
#collaborator-icon img {

    width: 120PX;
    height: 80px;
}

