@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');
* {
    margin: 0;
    
    
    padding: 0;
   
    font-family: 'Source Code Pro' , monospace;
    box-sizing: border-box;
}
body {
    min-height: 1000px;
}
 header{
    overflow: hidden;
    
}
 body header section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: #0e0e0e;
    transition: 2s;
}
header.sticky{
    height:100px;
    top:0;
    overflow-x: hidden;
    transition: 2s;
    
    
}
header.sticky nav.navbar  {
    position: fixed;
    top:0 ; 
    width: 100%;
    overflow: hidden;
    z-index: 10;
    transition: 2s;
    
}
 
 body header section  .container-fluid h2 {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight:900;
    color: #151515;
    font-size: 4em;
    line-height: 0.9em;
    letter-spacing: 4px;
}
body header section  .container-fluid h2 span {
    position: relative;
    z-index: 1;
    color: #fff;
    animation: animate-name 5s linear infinite;
}
body header section  .container-fluid h2 span.informatique {
    animation-delay: -1s;
    filter: hue-rotate(255deg);
}
body header section  .container-fluid h2 span.arts{
    animation-delay: -2s;
    filter: hue-rotate(255deg);
}
body header section  .container-fluid h2 span.sc {
    animation-delay: -1.5s;
    filter: hue-rotate(180deg);

}
header nav.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    display: none;
}

@keyframes animate-name {
    0% , 5% , 10.1% , 25.1% , 45%  , 70.1% , 90% , 100%{
        color: #222;
        text-shadow: 0 0 0 #222;
    }
    5.1% ,10% , 15.2% , 25%  , 45.1% , 70% , 90.1% , 95%{
        color: #fff;
        text-shadow: 0 0 10px #ff3177,
                    0 0 20px #ff3177,
                    0 0 40px #ff3177,
                    0 0 80px #ff3177,
                    0 0 160px #ff3177;

    }
}





body >section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
body>section .reveal {
    position: relative;
    font-size: 2.5em;
    padding: 0 10px;
    font-weight: 500;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
}
body>section .reveal.active {
    transform: scaleX(1);
    transition-delay: 0s;
}
body>section .reveal::before{
    content: '';
    position: absolute ;
    top: 0 ;
    left : 0 ;
    width: 100%;
    height: 100%;
    background: #e02bff;
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;

}
body>section .reveal:nth-child(2) {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 5px;
    letter-spacing: 2px;
    display: inline-block;
}
body>section .reveal:nth-child(2)::before {
    background: #ffeb3b;
}
body>section .reveal.active::before {
    transform: scale(0);
    transition-delay: 0.5s;
}
body>section img {
    position: relative;
    display: block;
    left: -100px;
    margin-left: 30px;
    margin-top: 30px;
    max-width: 300px;
    opacity: 0;
    transition: 0.5s;
}
body>section img.active {
     opacity: 1;
     left: 0;
}



