{# templates/emails/registration.html.twig #}
<html>
{% block body %}

    <h3><strong><font color="blue">You did it! You registered!</font></strong></h3>



    <p>To confirm your registration please </p>

{# example, assuming you have a route named "login" #}

    <a href= ' {{ url( "mail.verif" , {  'mail' : mail , 'uniqueId' : uniqueId  ,  } )}}' > <font color="red">CLICK HERE </font> </a>
Thanks!





{# Makes an absolute URL to the /images/logo.png file #}
{% endblock %}


</html>
