{% block body %}


    <p> <strong>password </strong> changed with success
    please change it soon
       your<strong> passwd </strong> :<font color="green"> {{ passwd }}</font> </p>
{% endblock %}
